# dependencies / build output
node_modules
dist
dist-ssr
*.local

# Tauri / Rust
src-tauri/target
src-tauri/gen
updater.key
src-tauri/updater.key
.tauri-updater-config.json

# logs / editor
*.log
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
bun.lockb
